body {
    font-family: 'PT Sans', sans-serif;
}



.container-fluid {
    background-color: lightgray;
}

.book-title {
    display: flex;
    justify-content: center;
}

.book-author {
    display: flex;
    justify-content: center;
}

.book-pages {
    display: flex;
    justify-content: center;
}

.book-overview {
    display: flex;
    justify-content: center;
}

#progress {
    width: 100%;
    background-color: black;
}

#progress-bar {
    width: 1%;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    color: white;
}

.register-link {
    text-decoration: underline;
}

.register-link:hover {
font-size: large;}

.login-header {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.login-form {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    padding: 15px;

}

.account-header {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.account-form {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-top: 25px;
    padding: 15px;

}

.add-book-header {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.add-book-form {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-top: 15px;
    padding: 25px;
}

.all-books-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.books-not-currently-reading-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.books-not-currently-reading {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    padding: 10px;;
}

.book-cover-img {
    width: 450px;
    height: 400px;
    border: solid black 2px;
}
