body {
    font-family: 'PT Sans', sans-serif;
    /* background-color: #63717f; */
    background-image: url("https://wallpaperaccess.com/full/4868955.jpg");
    background-size: cover;
    background-position: center;
}

.header-img {
    height: 350px;
    width: 100%;
    object-fit: cover;

}

/* ####### LOGIN PAGE AND FORM */

.login-header {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.login-form {
    width: 100%;
    max-width: 350px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    padding: 15px;
}

.register-link {
    text-decoration: underline;
}

.register-link:hover {
font-size: large;
}

/* ######### CREATE USER PAGE AND FORM */

.create-user-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.create-user-form {
    width: 100%;
    max-width: 350px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-top: 25px;
    padding: 15px;
}

/* ######## HOME PAGE WITH ADD BOOK FORM */

.home-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.add-book-header {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.add-book-form {
    width: 100%;
    max-width: 350px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-top: 15px;
    padding: 25px;
}

.your-books-link {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding-top: 20px;
    margin-bottom: 50px;
}

/* ######## Your Books Page With Currently Reading/Not Currently Reading Sections */

.all-books-header {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    border: solid black 2px;
}

.grid-container {
    display: inline-grid;
    gap: 550px;
}

.column-1 {
    grid-column-start: 1;
    margin-left: 550px;
}

.column-2 {
    grid-column-start: 2;
}

.want-to-read-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.books-not-currently-reading-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.books-not-currently-reading-title {
    display: flex;
    justify-content: center;    
    padding: 5px;
    padding-top: 10px;;
    font-size: 1.3em;
}

.books-not-currently-reading-author {
    display: flex;
    justify-content: center;    
    padding: 5px;
    font-size: 1.3em;

}

.books-not-currently-reading-pages {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-not-currently-reading-overview {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-not-currently-reading-update {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.book-cover-img {
    width: 450px;
    height: 400px;
    border: solid black 2px;
}

.currently-reading-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.books-currently-reading-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.books-currently-reading-title {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    padding: 5px;
    padding-top: 10px;
}

.books-currently-reading-author {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-currently-reading-pages {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-currently-reading-overview {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-currently-reading-pages-read {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;
}

.books-currently-reading-update {
    display: flex;
    justify-content: center;    
    font-size: 1.3em;
    padding: 5px;

}

/* ###### UPDATE PAGE AND FORM */

.update-header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.update-form {
    width: 100%; 
    max-width: 350px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin-top: 15px;
    padding: 25px;
    margin-bottom: 25px;
}

/* ############## PROGRESS BAR FUTURE FEATURE */

/* #progress {
    width: 100%;
    background-color: black;
}

#progress-bar {
    width: 1%;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    color: white;
} */