{% extends 'base.html' %}
{% block body %}
<!-- Display a single book where the user can update pages read,
whether or not they are currently reading, and general book info -->

<div class="all-books-header">
    <h1>Your Books</h1>
</div>

<div class="books-container">

<div class="want-to-read-header">
    <h2>Want To Read</h2>
</div>

{% for book in current_user.users_books %}
    {% if not book.currently_reading %}
    <div class="books-not-currently-reading-img">
        <img class="book-cover-img" src="{{ book.book.cover_img }}"/>
        </div>
        <div class="books-not-currently-reading">
        <br>
        {{ book.book.title }}
        <br>
        {{ book.book.author }}
        <br>
        {{ book.book.pages }}
        <br>
        {{ book.book.overview }}
        <br>
        <a href="{{ url_for('update_book', book_id=book.id)  }}">Started this book? Update Here!</a>

    </div>

{% endif %}

{% endfor %}

<div class="currently-reading-header">
    <h2>Currently Reading</h2>
</div>
{% for book in current_user.users_books %}
    {% if book.currently_reading %}
        <div class="books-currently-reading-img">
            <img class="book-cover-img" src="{{ book.book.cover_img }}"/>
        </div>

    <div class="books-currently-reading">
        <br>
        {{ book.book.title }}
        <br>
        {{ book.book.author }}
        <br>
        {{ book.book.pages }}
        <br>
        {{ book.book.overview }}
        <br>
        {{ book.pages_read }}
        <br>
        <a href="{{ url_for('update_book', book_id=book.id) }}">Made Some Progress? Update Here!</a>
        <!-- <div id="progress">
        <div id="progress-bar">1%</div>
        </div> -->
    </div>
{% endif %}

{% endfor %}

</div>
{% endblock %}