{% extends 'base.html' %}
{% block body %}
<!-- Display a single book with thoughts and progress bar -->

<div class="all-books-header">
    <h1>Your Books</h1>
</div>

<h2>Want To Read</h2>

{% for book in current_user.get_books() %}
    <div class="books-not-currently-reading-img">
    <img class="book-cover-img" src="{{ book.cover_img }}"/>
    </div>
    <div class="books-not-currently-reading">
    <br>
    {{ book.title }}
    <br>
    {{ book.author }}
    <br>
    {{ book.pages }}
    <br>
    {{ book.overview }}
    <br>
    
    <!-- TODO add update form option here where user can update
    boolean value of currently reading
    database to reflect currently reading as true and moves the book
    to the other section -->
    
    <!-- TODO add link to book_details page where update form will be -->
    <a href="{{ url_for('update_book') }}"></a>

    </div>


{% endfor %}

<!-- TODO 
    same for-loop as above with if statement regarding current or not? -->
<h2>Currently Reading</h2>

<div class="books-currently-reading-img">
    <img class="book-cover-img" src="{{ book.cover_img }}"/>

    <div class="books-currently-reading">
        <br>
        {{ book.title }}
        <br>
        {{ book.author }}
        <br>
        {{ book.pages }}
        <br>
        {{ book.overview }}
        <br>
        {{ book.pages_read }}
        <br>
        <!-- <div id="progress">
            <div id="progress-bar">1%</div>
        </div> -->

        <!-- TODO add link to book_details page where update form will be -->
        <a href="{{ url_for('update_book') }}"></a>
</div>

{% endblock %}