{% extends 'base.html' %}
{% block title %}Book Details{% endblock %}
{% block body %}
<!-- Display a single book with thoughts and progress bar -->

<div class="book-img">
    {{ book.cover_img }}
</div>

<div class="book-title">
    <h1>{{ book.title }}</h1>
</div>

<div class="book-author">
    <h2>{{ book.author }}</h2>
</div>

<div class="book-length">
    <h4>{{ book.length }}</h4>
</div>

<div class="book-overview">
    <p>
        {{ book.overview }}
    </p>
</div>

<div id="progress">
    <div id="progress-bar">1%</div>
</div>
<script>
    var i = 0;
    function progress() {
    if (i == 0) {
        i = 1;
        var elem = document.getElementById("progress-bar");
        var width = 10
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
                i = 0;
            } else {
                width++;
                elem.style.width = width + "%";
                elem.innterHTML = width + "%";
            }
        }
    }

}
</script>
{% endblock %}