{% extends 'base.html' %}

{% block body %}

<div class="add-book-header">
    <h2>Add a Book to Your Catalog</h2>
</div>
    <div class="add-book-form">
    <form action="{{ url_for('add_book') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }}
        <br>
        {{ form.author.label(class="form-label") }} {{ form.author(class="form-control") }}
        <br>
        {{ form.pages.label(class="form-label") }} {{ form.pages(class="form-control") }}
        <br>
        {{ form.overview.label(class="form-label") }} {{ form.overview(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>

    <div class="all-books-link">
        <a href="{{  url_for('all_books') }}">View All of Your Books</a>
    </div>

{% endblock %}