{% extends 'base.html' %}
{% block body %}

<!-- Display a single book where the user can update pages read,
whether or not they are currently reading, and general book info -->

<div class="all-books-header">
    <p>Your Books</p>
</div>
<div class="grid-container">
    <div class="column-1">
        <div class="want-to-read-header">
            <h2>Want To Read</h2>
        </div>

        {% for book in current_user.users_books %}
            {% if not book.currently_reading and not book.completed %}

                <div class="books-not-currently-reading-img">
                    <img class="book-cover-img" src="{{ book.book.cover_img }}"/>
                </div>

                <div class="not-currently-reading-book-info-container">
                <div class="books-not-currently-reading-title">
                    <p>{{ book.book.title }}</p>
                </div>



                <div class="books-not-currently-reading-author">
                    <p>Author: {{ book.book.author }}</p>
                </div>



                <div class="books-not-currently-reading-pages">
                    <p>Page Count: {{ book.book.pages }}</p>
                </div>



                <div class="books-not-currently-reading-overview">
                    <p>Overview: {{ book.book.overview }}</p>
                </div>


                <div class="books-not-currently-reading-update">
                    <a href="{{ url_for('update_book', book_id=book.book.id)  }}" class="btn btn-dark">Started this book? Update Here!</a>
                </div>
                </div>
            {% endif %}

        {% endfor %}

    </div>

    <div class="column-2">

        <div class="currently-reading-header">
            <h2>Currently Reading</h2>
        </div>

        {% for book in current_user.users_books %}
            {% if book.currently_reading and not book.completed %}

            <div class="books-currently-reading-img">
                <img class="book-cover-img" src="{{ book.book.cover_img }}"/>
            </div>
            <div class="currently-reading-book-info-container">
            <div class="books-currently-reading-title">
                
                <p>{{ book.book.title }}</p>

            </div>

            <div class="books-currently-reading-author">
                
                <p>Author: {{ book.book.author }}</p>

            </div>
                
            <div class="books-currently-reading-overview">

                <p>Overview: {{ book.book.overview }}</p>

            </div>

            <div class="books-currently-reading-pages">
                
                <p>Page Count: {{ book.book.pages }}</p>

            </div>
                
            <div class="books-currently-reading-pages-read">

                <p>Pages Read: {{ book.pages_read }}</p>

            </div>

            <div class="books-currently-reading-update">
                
                <a href="{{ url_for('update_book', book_id=book.book.id) }}" class="btn btn-dark">Made Some Progress? Update Here!</a>

            </div>

            <!-- <div id="progress-container"> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="max-width: 100%;" aria-valuenow="{{ book.pages_read }}" aria-valuemin="0" aria-valuemax="100">{{ book.pages_read }}%</div>

            </div>
        <!-- </div> -->

    </div>


            {% endif %}

            {% endfor %}
    </div>
</div>
{% endblock %}